
.btn-top{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #004d41;
    padding: 10px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    place-content: center;
    display: grid;
    color: #fff;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease;
}

.btn-top.active{
    visibility: visible;
    opacity: 1;
    transform: translateY(-24px);
}

